$facebook: #1877f2;
$ebay: #e53238;
$linkedin: #007bb5;
$youtube: #ff0000;
$twitter: #1da1f2;
$instagram: #833ab4;
$pinterest: #e60023;
$white: #fff;

.social-icons {
    bottom: 0;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 200;
    width: 100%;

    @include media-query(micro) {
        flex-direction: column;
        left: 0;
        right: auto;
        top: 35%;
        z-index: auto;
        width: auto;
    }

    .single {
        height: 65px;
        display: block;
        font-size: 0;
        position: relative;

        &:first-child:nth-last-child(1) {
            width: 100%;

            @include media-query(micro) {
                width: 43px;
            }

            @include media-query(tera) {
                width: 55px;
            }
        }

        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .single {
            width: 50%;

            @include media-query(micro) {
                width: 43px;
            }

            @include media-query(tera) {
                width: 55px;
            }
        }

        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ .single {
            width: 33.3333%;

            @include media-query(micro) {
                width: 43px;
            }

            @include media-query(tera) {
                width: 55px;
            }
        }

        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ .single {
            width: 25%;

            @include media-query(micro) {
                width: 43px;
            }

            @include media-query(tera) {
                width: 55px;
            }
        }

        &:first-child:nth-last-child(5),
        &:first-child:nth-last-child(5) ~ .single {
            width: 20%;

            @include media-query(micro) {
                width: 43px;
            }

            @include media-query(tera) {
                width: 55px;
            }
        }

        @include media-query(micro) {
            height: 43px;
            width: 43px;
        }

        @include media-query(tera) {
            height: 55px;
            width: 55px;
        }

        svg {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.right {
        @include media-query(micro) {
            right: 0;
            left: auto
        }
    }
}

.social-icons .facebook {
    background-color: $facebook;

    path{
        fill:  $white;
    }

    svg {
        width: 35px;

        @include media-query(micro) {
            width: 20px;
        }

        @include media-query(tera) {
            width: 24px;
        }
    }

    &:hover {
        background-color: lighten($facebook, 10%);
    }
}
.social-icons .ebay {
    background-color: $ebay;

    path{
        fill:  $white;
    }

    svg {
        width: 55px;

        @include media-query(micro) {
            width: 40px;
        }

        @include media-query(tera) {
            width: 45px;
        }
    }

    &:hover {
        background-color: lighten($ebay, 10%);
    }
}
.social-icons .linkedin {
    background-color: $linkedin;

    path{
        fill:  $white;
    }

    svg {
        width: 30px;

        @include media-query(micro) {
            width: 18px;
        }

        @include media-query(tera) {
            width: 20px;
        }
    }

    &:hover {
        background-color: lighten($linkedin, 10%);
    }
}
.social-icons .youtube {
    background-color: $youtube;

    path{
        fill:  $white;
    }

    svg {
        width: 38px;

        @include media-query(micro) {
            width: 23px;
        }

        @include media-query(tera) {
            width: 28px;
        }
    }

    &:hover {
        background-color: lighten($youtube, 10%);
    }
}
.social-icons .twitter {
    background-color: $twitter;

    path{
        fill:  $white;
    }

    svg {
        width: 34px;

        @include media-query(micro) {
            width: 19px;
        }

        @include media-query(tera) {
            width: 24px;
        }
    }

    &:hover {
        background-color: lighten($twitter, 10%);
    }
}
.social-icons .instagram {
    background-color: $instagram;

    path{
        fill:  $white;
    }

    svg {
        width: 34px;

        @include media-query(micro) {
            width: 19px;
        }

        @include media-query(tera) {
            width: 24px;
        }
    }

    &:hover {
        background-color: lighten($instagram, 10%);
    }
}
.social-icons .pinterest {
    background-color: $pinterest;

    path{
        fill:  $white;
    }

    svg {
        width: 35px;

        @include media-query(micro) {
            width: 25px;
        }

        @include media-query(tera) {
            width: 30px;
        }
    }

    &:hover {
        background-color: lighten($pinterest, 10%);
    }
}